.list {
  padding: 10px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
}

.list li {
  width: 80px;
  height: 80px;
}

.list li:nth-child(2n + 1) {
  background-color: #e76d13;
  color: black;
}

.list li:nth-child(2n) {
  background-color: #3255c9;
  color: white;
}
